*.env
.env
*.npy
*.pkl
*.log
*.out
*.pyc
checkpoints
.neptune
lightning_logs
penv
*.checkpoints
*.ckpt
*.npz
*.npy
*.png
*.pdf
*.jpg
*.jpeg
*.gz
.venv
Sirs/
data_temp/
notebooks_lotka_temp/
notebooks_sir_temp/
myenv/
.pytest_cache
logs
outputs