*.env
.env
*.npy
*.pkl
*.log
*.out
*.pyc
checkpoints
.neptune
lightning_logs
penv
*.checkpoints
*.ckpt
*.npz
*.npy
*.png
*.pdf
*.jpg
*.jpeg
*.gz
.venv
Sirs/
data_temp/
notebooks_lotka_temp/
notebooks_sir_temp/
myenv/
.pytest_cache
logs
outputs
run-with-last-ckpt-2026-04-09.tar.gz:Zone.Identifier
run-with-last-ckpt-2026-04-09.tar.gz.sha256
run-with-last-ckpt-2026-04-09.tar.gz.sha256:Zone.Identifier
run/monitor_dashboard.py
run/monitor_dashboard.py:Zone.Identifier
run/monitor.ipynb
run/monitor.ipynb:Zone.Identifier
run