_target_: src.models.lightning_module.PreTrainLightning

net:
  _target_: src.models.
  # TODO:

optimizer:
  _target_: torch.optim.Adam
  _partial_: true
  betas: [0.9, 0.95]
  lr: 0.0004
  weight_decay: 0.05

scheduler:
  _target_: src.models.components.schedulers.WarmupCosineScheduler
  _partial_: true
  warmup_steps: 53333
  max_steps: 10   # resolved, not a reference
  min_lr: 0.000001
  max_lr: 0.0005

compile: true
